@import url(https://fonts.bunny.net/css?family=anaheim:400|coda:400,800|kite-one:400);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    h1 {
        @apply text-3xl font-titu font-bold tracking-tight text-gray-900
    }

    h2 {
        @apply text-xl font-titu font-bold my-6
    }

    h3 {
        @apply text-lg font-titu font-bold my-4
    }
}

.note-low {
    background-color: #d1e7dd;
}

.color-low {
    color: #155724;
    border-color: #155724;
}

.note-medium {
    background-color: #fff3cd;
}

.color-medium {
    color: #856404;
    border-color: #856404;
}

.note-high {
    background-color: #f8d7da;
}

.color-high {
    color: #842029;
    border-color: #842029;
}
